<div class="full">
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="navbar-custom border-right" id="sidebar-wrapper">
    <div style="justify-content: right; margin-left: 320px">
      <!-- Toggle Button -->
    <button class="navbar-toggler collapsed" id="menu-toggle">
      <img style="display:inline-block;" src="https://mdbootstrap.com/img/svg/hamburger1.svg?color=287CEB">
    </button>
    </div>
    <div class="sidebar-heading" style="justify-content:right;">
      <a class="btn" ><img style="display:inline-block;" src="assets/img/digicard_logo_1.jpg"></a>
    </div>
    <div class="list-group list-group-flush">
      <p style="margin-left:20px; margin-right:10px; color:black" *ngIf="this.loginService.isLoggedIn()">Welcome back, {{ this.loginService.getName() }}!</p>
      <a class="btn" *ngIf="!this.loginService.isLoggedIn()" [routerLink]="['/login']"><img style="display:inline-block;" src="assets/img/login.png" class="navbar-image-login"></a>
      <a class="btn" *ngIf="this.loginService.isLoggedIn()" [routerLink]="['/']"><img style="display:inline-block;" (click)="logoutFunction();" src="assets/img/logout.png" class="navbar-image-logout"></a>
      <!-- SinglePlayer Dropdown -->
      <a class="btn" data-toggle="collapse" href="#singleplayer" aria-expanded="false" aria-controls="collapse"><img style="display:inline-block;" src="assets/img/singleplayer.png" class="navbar-image singleplayer-button"></a>
      <div class="collapse multi-collapse" id="singleplayer">
        <!-- Sandbox -->
        <a class="btn sandbox-button" [routerLink]="['/sandbox']"><img style="display:inline-block;" src="assets/img/sandbox.png" class="navbar-drop-image"></a>
        <!-- Blackjack SP -->
        <a class="btn blackjack-button-sp" [routerLink]="['blackjack']"><img style="display:inline-block;" src="assets/img/Blackjack.png" class="navbar-drop-image"></a>
      </div>
      <!-- Multiplayer Dropdown -->
      <a class="btn" data-toggle="collapse" href="#multiplayer" aria-expanded="false" aria-controls="collapse"><img style="display:inline-block;" src="assets/img/multiplayer.png" class="navbar-image"></a>
      <div class="collapse multi-collapse" id="multiplayer">
        <!-- Join Game -->
        <a class="btn holdem-button" [routerLink]="['/join-game']"><img style="display:inline-block;" src="assets/img/JoinGame.png" class="navbar-drop-image"></a>
        <!-- Host Game -->
        <a class="btn blackjack-button-mp" [routerLink]="['/host-game']"><img style="display:inline-block;" src="assets/img/HostGame.png" class="navbar-drop-image"></a>
      </div>
      <hr>
      <!-- Leaderboard -->
      <a class="btn" [routerLink]="['/leaderboard']"><img style="display:inline-block;" src="assets/img/leaderboard.png" class="navbar-image-leaderboard"></a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    
  <!-- /#page-content-wrapper -->
  <div style="margin-top:106px" id="component">
    <router-outlet></router-outlet>
  </div>
</div>
</div>
