<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="navbar-custom border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">DigiCard </div>
    <div class="list-group list-group-flush">
      <a [routerLink]="['/singleplayer']"><img style="display:inline-block;" src="assets/img/singleplayer.png" class="navbar-image"></a>
      <a [routerLink]="['/multiplayer']"><img style="display:inline-block;" src="assets/img/multiplayer.png" class="navbar-image"></a>
      <a [routerLink]="['/sandbox']"><img style="display:inline-block;" src="assets/img/sandbox.png" class="navbar-image-sandbox"></a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <button class="navbar-toggler collapsed" id="menu-toggle">Button</button>

    <!-- <nav class="navbar navbar-expand-lg navbar-dark navbar-custom border-bottom">
      <button class="navbar-toggler collapsed" id="menu-toggle"></button>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav> -->
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<div style="margin-top:106px" id="component">
  <router-outlet></router-outlet>
</div>