<div class="full">
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="navbar-custom border-right" id="sidebar-wrapper">
    <div style="justify-content: right; margin-left: 320px">
    <button class="navbar-toggler collapsed" id="menu-toggle">
      <img style="display:inline-block;" src="https://mdbootstrap.com/img/svg/hamburger1.svg?color=287CEB" style="width:auto; height:40px;">
    </button>
    </div>
    <div class="sidebar-heading" style="justify-content:right;">DigiCard
       
    </div>
    <div class="list-group list-group-flush">
      <a class="btn" data-toggle="collapse" href="#singleplayer" aria-expanded="false" aria-controls="collapse"><img style="display:inline-block;" src="assets/img/singleplayer.png" class="navbar-image"></a>
      <div class="collapse multi-collapse" id="singleplayer">
        <a class="btn" [routerLink]="['/singleplayer']"><img style="display:inline-block;" src="assets/img/Solitaire.png" class="navbar-drop-image"></a>
        <a class="btn" [routerLink]="['blackjack']"><img style="display:inline-block;" src="assets/img/Blackjack.png" class="navbar-drop-image"></a>
      </div>
      <a class="btn" data-toggle="collapse" href="#multiplayer" aria-expanded="false" aria-controls="collapse"><img style="display:inline-block;" src="assets/img/multiplayer.png" class="navbar-image"></a>
      <div class="collapse multi-collapse" id="multiplayer">
        <a class="btn" [routerLink]="['/multiplayer']"><img style="display:inline-block;" src="assets/img/TexasHoldem.png" class="navbar-drop-image"></a>
        <a class="btn" [routerLink]="['/multiplayer']"><img style="display:inline-block;" src="assets/img/Blackjack.png" class="navbar-drop-image"></a>
      </div>
      <hr>
      <a class="btn" [routerLink]="['/sandbox']"><img style="display:inline-block;" src="assets/img/sandbox.png" class="navbar-image-sandbox"></a>
      <a class="btn" [routerLink]="['/leaderboard']"><img style="display:inline-block;" src="assets/img/leaderboard.png" class="navbar-image-leaderboard"></a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    
  <!-- /#page-content-wrapper -->
  <div style="margin-top:106px" id="component">
    <router-outlet></router-outlet>
  </div>
</div>
</div>
