<div style="text-align:center; margin-top:20%; margin-bottom:20%;">
    <nav style="margin-bottom:20px;"><a [routerLink]="['/singleplayer']"><img style="display:inline-block;" src="assets/img/singleplayer.png"></a></nav>
    <nav style="margin-bottom:20px;"><a [routerLink]="['/multiplayer']"><img style="display:inline-block;" src="assets/img/multiplayer.png"></a></nav>
    <nav style="margin-bottom:20px;"><a [routerLink]="['/sandbox']"><img style="display:inline-block;" src="assets/img/sandbox.png"></a></nav>
</div>