
<div style="background-color: honeydew;">
<h2 style="text-align: center; margin-top: 100px;">Create New Account</h2>
<div class="container" >
    <form style="text-align:center;" action="/action_page.php" (keydown)="keyPress($event)">
        <label style="font-size: 25px" for="name" >Full Name: &nbsp;</label>
        <input type="text" id=real_name name="name"><br>
        <label style="font-size: 25px" for="username">UserName: &nbsp;</label>
        <input type="text" id="username" name="username"><br>
        <label style="font-size: 25px" for="email">Email: &nbsp;</label>
        <input type="text" id="email" name="email"><br>
        <label style="font-size: 25px" for="password">Password: &nbsp;</label>
        <input type="password" id="password" name="password"><br>
        <label style="font-size: 25px" for="password">Confirm Password: &nbsp;</label>
        <input type="password" id="confirmpassword" name="confirmpassword"><br><br>
        <button style="width:100px;" type="button" (click)="submitUserFunction()">
            Submit
        </button>
    </form>
</div>
<br><br><br>
</div>