.btn-circle.btn-xl{
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

.player{
    position: absolute; 
    bottom: 300px; 
    right: 1250px;
}

.otherPlayers
{
    position: absolute;
    transform: rotate(90deg) scale(0.25);
    left: 500px;
}

.dealer{
    position: absolute;
    right: 1250px;
}