<h2 style="text-align: center; margin-top: 100px;">Login</h2>
<div class="container">
    <form id="loginForm" style="text-align:center;" action="/action_page.php" (keydown)="keyPress($event)">
        <label for="username">Email Address: </label>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password"><br><br>
        <button style="width:100%;" type="button" (click)="submitLoginFunction()">
            Submit
        </button>
    </form>
    
</div>
<br>
<div style="text-align: center;"><nav><a [routerLink]="['/createUser']"><p style="font-size:medium;">Create Account</p></a></nav></div>
<br><br><br>