p {
    color: #4bc3b5
}

.background {
    color: #010402
}
.accent{
    color: #1c2c54
}
.flare{
    color: #d175b7
}
body{
    background-image: "/assets/img/background_texture.jpg"
    opacity 90%;
}