
<!-- Buttons to select Game Leaderboard-->
<div>
    <div class="Leaderboard-Buttons">
    <button (click)="getLeaderboard('BlackJack')" type="button" class="btn btn-success" >Black Jack</button>
    <button (click)="getLeaderboard('Texas Holdem')" type="button" class="btn btn-success">Texas Holdem</button>
    </div>

<div class="Leaderboard-Table">
    <!-- Table that gets datt from dataSource variable-->
<table mat-table [dataSource] = "getDataSource()" > 
 
    
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef style ="font-size:36px;color:white"><b>Name</b></th>
        <td mat-cell *matCellDef="let scores" style ="font-size:36px;color:white"><b>{{scores.real_name}} </b></td>
    </ng-container>

    <!-- Score Column -->
    <ng-container matColumnDef="Score">
        <th mat-header-cell *matHeaderCellDef style ="font-size:36px;color:white"><b>Score</b></th>
        <td mat-cell *matCellDef="let scores" style ="font-size:36px;color:white"><b>{{scores.score}}</b></td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table> 
</div>

</div>